.registrarempl,.registraractivo{
    margin-bottom: 250px;
}

.d-flex{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    margin-left: 20px;
}
.table{
    margin-left: 20px;
    margin-right: 20px;
    width: 1300px;
}

.insertarempelado{
    margin-left: 20px;
    border-radius: 15px;
}
.registrartipoactivo,.insertaractivo{
    margin-left: 20px;
    border-radius: 15px;
}
.exportar{
    border-radius: 15px;
    margin-right: 20px;
}
.acciones{
    cursor: pointer;
}

.editar{
    color: blue;
}
.borrar{
    color: red;
}